.contact {
  margin-top: 10vh;

  form {

    .contact {
      &-success p {
        background: #003a00;
        padding: 10px 20px;
        color: #fff;
      }

      &-error ul {
        background: rgba(255, 28, 35, 0.91);
        padding: 10px 20px;
        color: #fff;
        list-style: none;
      }
    }

    .ee {
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }

    .side {
      display: flex;
      align-items: center;

      &-message {
        p {
          color: #fff;
          a {
            color: $purple;
          }
        }
      }
    }

    input, textarea {
      width: 100%;
      border: solid 2px #fff;
      background: none;
      color: #fff;
      padding: 10px;
      margin-bottom: 20px;

      &:focus, &:active {
        border: solid 2px $purple;
        outline: $purple;
      }

      &.error {
        color: #ff0000;
        border-color: #ff0000;
      }
    }

    button {
      background: none;
      color: $purple;
      border: solid 1px $purple;
      padding: 10px 20px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: $purple;
      }
    }
  }
}
