.portfolio-show {
  .header {
    margin: -10vh;
    height: 28vh;
    margin-bottom: 1px;
    z-index: -1;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media all and (max-width: 991px){
      margin: 0;
    }
  }
  .project {
    &-details {
      .date {
        color: #fff;
      }
    }
    &-body {
      margin-top: 4vh;

      &-images {
        flex-direction: column;
        padding-right: 30px;
        @media all and (max-width: 768px){
          padding: 0;
          margin: 0;
          order: 2;
        }

        a {
          margin-bottom: 20px;

          img {
            width: 100%;
          }
        }
      }

      &-content {
        p, ul li, ol li {
          font-family: 'Work Sans', sans-serif;
          color: #cbcbcb;
        }
        a {
          color: $purple;
        }
        img {
          width: 100%;
        }

        @media all and (max-width: 768px){
          order: 1;
        }
      }
    }

    &-links {
      display: flex;
      justify-content: space-evenly;
      margin: 5vh 0;

      a {
        display: block;
        border: solid 1px $purple;
        color: $purple;
        padding: 15px;
        font-size: 15px;
        transition: all 0.5s ease-out;

        &:hover {
          display: block;
          background: $purple;
          padding: 15px;
          color: #fff;
        }
      }
    }
    &-back {
      text-align: center;
      margin: 20px 0;

      .icon {
        font-size: 30px;
        transition: color 0.5s ease-out;

        &:hover {
          color: $purple;
        }
      }
    }
    &-related {
      margin-bottom: 25px;

      .project {
        text-align: center;
        overflow: hidden;
        float: left;
        z-index: 1;
        position: relative;
        background-color: #0c0c0c;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 0;

        .hovereffect {
          float: left;
          overflow: hidden;
          position: relative;
          text-align: center;
          cursor: default;

          &:hover {
            .overlay {
              background-color: rgba(62, 0, 186, 0.4);
              h2 {
                transform: translateY(30px);
              }
              a.info {
                opacity: 1;
                filter: alpha(opacity=100);
                transform: scale(1);
              }
            }
          }

          .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            background-color: rgba(75, 75, 75, 0.7);
            transition: all 0.4s ease-in-out;
          }

          img {
            display: block;
            position: relative;
            width: 100%;
          }

          h2 {
            text-transform: uppercase;
            color: #fff;
            font-size: 17px;
            text-align: center;
            position: relative;
            padding: 10px;
            background: rgba(0, 0, 0, 0.6);
            transform: translateY(80px);
            transition: all 0.4s ease-in-out;
          }

          a.info {
            display: inline-block;
            text-decoration: none;
            //padding: 7px 14px;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid #fff;
            background-color: transparent;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            font-weight: normal;
            margin: -30px auto;
            padding: 26% 30%;

            &:hover {
              box-shadow: 0 0 5px #fff;
            }
          }
        }
      }
    }
  }
}
