.article-show {
  .article-header {
    overflow: hidden;
    position: relative;
    height: 21vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h1 {
      position: absolute;
      font-weight: bold;
    }
    .article-bg {
      height: 21vw;
      background: no-repeat center center / cover;
      width: 110%;
      transform: scale(1.3);
      position: absolute;
    }
  }

  .article-content {
    margin-top: 5vh;

    p, li {
      font-family: 'Work Sans', sans-serif;
      color: #cbcbcb;
    }

    .hljs {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .article-related {
    height: 350px;

    .related {
      .article {
        text-align: center;
        float: left;
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          .article-bg {
            opacity: .5;
          }
        }

        &-bg {
          position: absolute;
          width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: -1;
          background-position: center;
          background-size: cover;
          opacity: .8;
          transition: .5s opacity;
        }
        &-content {
          h3, h3 a, p, a {
            color: #fff;
          }
          &-title a {
            font-weight: bold;
          }
          a {
            &::before, &::after {
              display: inline-block;
              opacity: 0;
              transition: transform 0.3s, opacity 0.2s;
            }
            &::before {
              margin-right: 10px;
              content: '[';
              transform: translateX(20px);
            }
            &::after {
              margin-left: 10px;
              content: ']';
              transform: translateX(-20px);
            }
            &:hover, &:focus {
              &::before, &::after {
                opacity: 1;
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }

  .back {
    text-align: center;
    margin: 20px 0;

    .icon {
      font-size: 30px;
      transition: color 0.5s ease-out;

      &:hover {
        color: $purple;
      }
    }
  }
}

.article-details, .project-details {
  margin-top: 2vh;

  .tags {
    display: flex;

    .tag {
      margin-right: 10px;
      &-body {
        background: black;
        padding: 8px;
        display: flex;
        width: fit-content;
        font-size: 14px;

        i {
          line-height: inherit;
          margin-right: 5px;
        }
      }
    }
  }

  .date {
    color: #fff;
  }
}
