@keyframes slideup-enter {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideup-leave {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(-3%);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.front-layout {
  font-family: 'Fira Mono', monospace;
  min-height: 100vh;
  background: #101010 fixed;
  background-size: cover;
  position: relative;
  & > * {
    position: relative;
    z-index: 1;
  }
  &:before {
    content: "";
    position: fixed;
    width : 100%;
    height: 100%;
    background: inherit;
  }

  p, li, span {
    //color: #fff;
  }

  nav {
    .nav-main {
      margin-top: 5px;
      font-size: 6.5rem;
      padding: 10px 10px 0;
      line-height: 1;
      color: #fff;
      overflow: hidden;

      span {
        display: block;
        font-size: 30px;
        position: relative;

        &::before {
          content: attr(data-letters);
          position: absolute;
          color: $purple;
          left: 0;
          overflow: hidden;
          white-space: nowrap;
          width: 0;
          transition: width 0.5s cubic-bezier(0.7, 0, 0.3, 1);
        }
      }
      &:hover {
        color: #fff;

        span::before {
          width: 100%;
        }

        &::after {
          transform: translate3d(0,0,0);
        }
      }
    }

    a, p, span {
      //color: #fff;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    #navbarText {
      a, p, span {
        &.nav-link {
          margin-top: 20px;
          position: relative;
        }
      }

      .nav-item {
        .nav-link:not(span):not(p) {
          transition: color 0.3s;
          padding: 10px;
          &::before, &::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            content: '';
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            transform: translateY(-10px);
          }
          &.active {
            color: $purple;
            &::before, &::after {
              background: $purple;
            }

            &:hover {
              color: $purple;
            }

            &::before, &.active::after {
              opacity: 1;
              transform: translateY(0);
            }
          }
          &::before {
            top: 0;
            transform: translateY(-10px);
          }
          &::after {
            bottom: 0;
            transform: translateY(10px);
          }
          // ACTIVE : PURPLE, ELSE : WHITE
          &:hover {
            color: #fff;

            &::before, &::after {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }

    .hamburger {
      margin: 20px;

      .line {
        display: block;
        width: 50px;
        height: 5px;
        background-color: grey;
        margin: 8px 0;
        transition: all 0.3s ease-in-out;

        &:nth-child(1) {
          background-color: $purple;
        }
      }

      &:hover {
        cursor: pointer;

        .line:nth-child(1) {
          transform: translateX(15px);
          width: 40px;
        }
      }

      &.is-active .line {
        &:nth-child(1) {
          transform: translate(4px, 1px) rotate(45deg);
          width: 18px;
        }

        &:nth-child(2) {
          transform: rotate(-45deg);
          width: 51px;
        }

        &:nth-child(3) {
          transform: translate(14px, 4px) rotate(45deg);
          width: 28px;
          transform-origin: bottom right;
        }
      }
    }
  }

  section.container-fluid {
    position: relative;
    width: 100%;
    height: 80vh;
    perspective: 1200px;
    transform-style: preserve-3d;
  }

  .slideup-enter-active {
    position: absolute;
    z-index: 1;
    animation: slideup-enter 5s ease-in;
  }

  .slideup-leave-active {
    position: absolute;
    z-index: 0;
    animation: slideup-leave 5s ease-out;
  }

  .banner {
    position: fixed;
    background-color: $night;
    bottom: 0;
    z-index: 10;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 30px;

    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .about {
    .picture {
      img {
        width: 100%;
      }
    }

    .text {
      font-family: 'Work Sans', sans-serif;
      color: #cbcbcb;
    }

    .social-medias {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      font-size: 25px;
      justify-content: space-evenly;
      padding: 20px 0;

      a {
        transition: color 0.5s ease-in-out;

        &:hover {
          color: $purple;
        }
      }
    }
  }

  .legal-notice {
    h1 {
      margin: 30px 0;
    }
    p {
      font-family: 'Work Sans', sans-serif;
      color: #cbcbcb;
    }
  }

  footer {
    background-color: #020202;
    padding: 25px 0;
    .main {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .links {
      display: flex;
      flex-direction: column;

      a {
        text-align: right;

        @media screen and (max-width: 992px) {
          text-align: center;
        }
        &.active {
          color: $purple;

          &::before, &::after {
            display: inline-block;
            opacity: 1;
            transition: transform 0.3s, opacity 0.2s;
          }
          &::before {
            margin-right: 10px;
            content: '[';
          }
          &::after {
            margin-left: 10px;
            content: ']';
          }
        }
        &:not(.active) {
          &::before, &::after {
            display: inline-block;
            opacity: 0;
            transition: transform 0.3s, opacity 0.2s;
          }
          &::before {
            margin-right: 10px;
            content: '[';
            transform: translateX(20px);
          }
          &::after {
            margin-left: 10px;
            content: ']';
            transform: translateX(-20px);
          }
          &:hover, &:focus {
            &::before, &::after {
              opacity: 1;
              transform: translateX(0px);
            }
          }
        }
      }
    }

    .social-medias {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 25px;


      a {
        transition: color 0.5s ease-in-out;

        &:hover {
          color: $purple;
        }
      }
    }

    .copyright {
      margin-top: 15px;

      a {
        color: $purple;
      }
    }
  }

  .warning {
    background: #c58000;

    p {
      padding: 14px;
      color: #fff;
    }
  }

  @media(max-width: 992px) {
    #navbarText li {
      hr.mobile {
        display: block;
      }

      p.pipe {
        display: none;
      }
    }
  }

  @media(min-width: 992px) {
    #navbarText li {
      hr.mobile {
        display: none;
      }

      p.pipe {
        display: block;
      }
    }
  }
}
