$night: #061F2F;
$purple: #3e00ba;

html {
  min-height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
}

.admin-layout,
.front-layout,
.login {
  h1, h2, h3, h4, h5, h5, h6, a, a:hover, label, th, td {
    color: #fff;
  }
}

.badge {
  line-height: unset;
}

.upload-list {
  margin-bottom: 20px;
}

.about,
.front-articles,
.portfolio,
.portfolio-show,
.about,
.contact,
.legal-notice,
.show-tag {
  min-height: 90vh;
}

a:hover {
  text-decoration: none;
}

input[type="email"], input[type="text"], textarea, textarea:focus {
  &.form-control {
    background: none;
    color: #fff;
  }
}

input[type="file"].form-control-file {
  color: #fff;
}

strong {
  font-weight: bold;
}

.invalid-feedback {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {display:none;}
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input {
  &:checked + .slider {
    background-color: #2196F3;
  }
  &:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  &:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.custom-file {
  margin-bottom: 30px;

  label {
    background: none;
    color: #fff;
  }
}
